.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    border-color: $mainBlue;
}

.ck.ck-toolbar-dropdown .ck.ck-toolbar .ck.ck-toolbar__items {
    @media (max-width:480px) {
        flex-wrap: wrap;
    }
}

.ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
    border: none;
}

.ck.ck-toolbar {
    background-color: $secGrey;
}

.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
    background: $mainBlue;

}

.ck .ck-button {
    color: $mainWhite;
    cursor: pointer;
}

.ck-editor {
    height: 100%;
    width: calc(100vw - 100px);

    background-color: $mainGrey;
    color: $mainGrey;

    .ck-content {
        padding: 10px 25px;
        height: calc(80vh - 50px);
    }


}