.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    border: none !important;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    border: none !important;
}

.ck.ck-toolbar-dropdown .ck.ck-toolbar .ck.ck-toolbar__items {
    @media (max-width:480px) {
        flex-wrap: wrap !important;
    }
}

.ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
    border: none !important;
}

.ck.ck-toolbar {
    background-color: $mainGrey !important;
}

.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
    background: $mainGreen !important;
    color: $mainWhite !important;
}

.ck .ck-button {
    color: $mainWhite !important;
    cursor: pointer !important;
    color: $thirdGrey !important;
}

.ck.ck-editor__main>.ck-editor__editable {
    background-color: $mainGrey !important;
    color: $mainWhite !important;
}

.ck-editor {
    border: 1px solid $thirdGrey !important;
    background-color: $mainGrey !important;
    color: $mainGrey !important;

    .ck-content {
        padding: 10px 40px !important;
        height: calc(100vh - 150px) !important;
        border: 1px solid transparent !important;

    }

}

.ck.ck-list {
    background-color: $mainGrey;
}

.ck.ck-list__item .ck-button.ck-on {
    background-color: $mainGreen;

}

.ck.ck-button.ck-on,
a.ck.ck-button.ck-on {
    background-color: $mainGreen;
}