.log-sign-form {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: $mainGrey;
    color: rgba($mainWhite, 0.6);

    @media (max-width:800px) {
        padding: 10px;
    }

    img {
        transform: translateX(-25px);
        width: 300px;
        height: 100px;
        margin-bottom: 20px;

        @media (max-width:800px) {
            transform: translateX(0)
        }
    }

    h1:last-of-type {
        margin-bottom: 100px;
    }

    a {
        color: $mainGreen;

        &:hover {
            color: scale-color($mainGreen, $lightness: 50%)
        }
    }

    .form-container {
        max-width: 400px;
    }

    input {
        width: 100%;
        background-color: transparent;
        border: 2px solid $mainGreen;
        border-radius: 5px;
        padding: 8px;
        font-size: 1.2rem;
        color: $mainGreen;
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 50px;
        }

        &::placeholder {
            color: rgba($mainGreen, 0.6);
            opacity: .5;
        }
    }


    .btn-container {
        margin-bottom: 25px;

        &>* {
            margin-bottom: 10px;

        }
    }




}