.notes-list {
    max-height: calc(80vh - 70px);
    overflow-y: overlay;
    width: 100%;
    padding: 0 10px;

    li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        padding: 5px;

        &:hover {
            background-color: rgba($thirdGrey, 0.1);
        }
    }

    * {
        margin-bottom: 15px;

    }
}