.topbar {
    background-color: $secGrey;
    height: 100px;
    min-height: 85px;
    padding: 0 30px;


    .actions {
        margin-left: auto;

        .progressier-install-button {
            pointer-events: auto;
            opacity: 1;
            background: no-repeat;
            border: none;
            color: $mainWhite;
            font-size: 1rem;
            text-transform: capitalize;

            span span:first-child {
                margin-right: 0px !important;
                width: 25px !important;
                height: 25px !important;
            }
        }
    }

    .title-container {
        max-width: 90%;

        .title {
            padding: 5px;
            border: 2px dotted transparent;
            font-size: #{"min(max(16px, 4vw), 22px);"};
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
                border: 2px dotted $mainWhite;
            }

            &:focus {
                border: 2px dotted $mainWhite;
            }
        }

    }

    @media (max-width:480px) {
        padding: 0 5px;
    }

}