.log-sign-form {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: $mainGrey;
    color: rgba($mainWhite, 0.6);

    a {
        color: $mainBlue;

        &:hover {
            color: scale-color($mainBlue, $lightness: 50%)
        }
    }

    .form-container {
        max-width: 400px;
    }

    input {
        width: 100%;
        background-color: transparent;
        border: 2px solid $mainBlue;
        border-radius: 5px;
        padding: 8px;
        font-size: 1.2rem;
        color: $mainBlue;
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 50px;
        }

        &::placeholder {
            color: rgba($mainBlue, 0.6);
            opacity: .5;
        }
    }

    button {
        width: 50%;
        max-width: 300px;
        font-weight: 700;
        background-color: $mainBlue;
        border: none;
        border-radius: 5px;
        padding: 8px;
        font-size: 1.2rem;
        color: $mainGrey;
        margin-bottom: 15px;

        &:hover {
            background-color: $mainWhite;
            color: $secGrey;
        }

    }
}