.note-app {
  min-height: 100vh;
  color: $mainWhite;
  overflow: hidden;

  .col-left {
    min-width: 145px;
    min-height: 100vh;
    flex-grow: 1;
  }

  .col-right {
    background-color: $secGrey;
    min-width: 100px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .no-notes {
    padding: 30px;
    height: 85vh;
    background-color: $mainGrey;
    color: $thirdGrey;
    font-size: 4vw;
  }

}