.note-app {
  min-height: 100vh;
  color: $mainWhite;
  overflow: hidden;

  // Wrapper min-width to avoid a bug on refresh,
  // when refresh and isSidebar is off, turn on and does not appear.
  .col-left-wrapper {
    min-width: 145px;

  }

  .col-left {
    min-width: 145px;
    min-height: 100vh;
    flex-grow: 1;
  }

  .col-right {
    background-color: $secGrey;
    min-width: 100px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .no-notes {
    padding: 30px;
    height: calc(100vh - 100px);
    background-color: $mainGrey;
    color: $thirdGrey;
    font-size: 4vw;
  }

  &.loading-modal {
    height: 100vh;
    background-color: $mainGrey;
  }

}