.user-sign {
    min-height: 100vh;

    .log-sign-form {
        box-shadow: -5px 0px 13px 7px #0000002b;
    }

    .col-left {
        width: 350px;
        min-height: 100vh;
        background-image: url(../../img/blocks.png), linear-gradient(226deg, $mainGrey, $secGrey 100%);
        background-size: 10px;
        background-position: center;
    }

    .col-right {
        width: calc(100vw - 350px);

    }

    @media (max-width:800px) {
        align-items: initial;
        justify-content: initial;
        flex-direction: column;

        .col-left {
            width: 100%;
            min-height: 20vh;

            .loading-modal {
                img {
                    width: 50px;
                }
            }
        }

        .col-right {
            min-height: 80vh;
            width: 100vw;

            .log-sign-form {
                align-items: center;
                min-height: 80vh
            }
        }
    }
}