.btn {
  max-width: 300px;
  border-radius: 5px;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px solid $mainGreen;

  &:hover {

    &.btn-prime,
    &.btn-sec {
      background-color: $mainWhite;
      border-color: $mainWhite;
      color: $mainGrey;
    }
  }

  &.btn-prime {
    background-color: $mainGreen;
    color: $mainGrey;
  }

  &.btn-sec {
    background-color: transparent;
    color: $mainGreen;
  }

  &.btn-disabled {
    background-color: $disabled;
    border-color: $disabled;
    color: $mainGrey;
    cursor: no-drop;

    &:hover {
      background-color: $disabled;
      border-color: $disabled;
    }
  }
}



.flex {
  display: flex;
}

.w100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.h100 {
  height: 100%;
}

.col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-rev {
  flex-wrap: wrap-reverse;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.grow {
  flex-grow: 1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.p-x-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.p-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-x-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.p-y-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate0 {
  transform: rotate(0);
}

.cursor-initial {
  cursor: initial;
}

.cursor-pointer {
  cursor: pointer;
}